footer
    .footer-content.container.d-flex.justify-content-center.mt-5.pb-4
        a.text-white.footer-link(href='https://t.me/NewGameProject') Telegram
        a.text-white.footer-link(href='https://vkplay.ru/') Vk
        a.text-white.footer-link(href='https://rutube.ru/feeds/games/?ysclid=m8390iz1vs653919686') Rutube
